<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">

	<insert id="create">
		insert into BOARD_TB (title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select
			bno, title, content, writer, regdate, viewcnt
		from
			BOARD_TB
		where bno = #{bno}
	</select>
	
	<update id="update">
		update BOARD_TB set title=#{title}, content=#{content}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from BOARD_TB where bno = #{bno}
	</delete>
	
	<select id="listAll" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select
				bno, title, content, writer, regdate, viewcnt
			from
				BOARD_TB
			where bno > 0
			order by bno desc, regdate desc
		]]>
	</select>
	
	<!-- <typeAliases>에 설정을 해서 org.zerock.domain 생략가능 (위치 mybatis-config.xml)-->
	<select id="listPage" resultType="BoardVO">
		<![CDATA[
			SELECT * FROM
			(
				SELECT A.*, ROWNUM AS RN FROM
					(
					SELECT * FROM BOARD_TB ORDER BY bno desc, regdate desc
					) A
				WHERE ROWNUM <= 10
			)
			WHERE RN > 0
		]]>
	</select>
	
<!-- 	<select id="listCriteria" resultType="BoardVO">
		<![CDATA[
			select
				bno, title, content, writer, regdate, viewcnt
			from
				BOARD_TB
			where bno > 0
			order by bno desc, regdate desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select> mysql 기준-->
	
	<select id="listCriteria" resultType="BoardVO">
		<![CDATA[
			SELECT bno, title, content, writer, regdate, viewcnt
			FROM (
				SELECT bno, title, content, writer, regdate, viewcnt,
				ROW_NUMBER() OVER (ORDER BY bno DESC, regdate DESC) AS RN
				FROM BOARD_TB
				WHERE bno > 0
			)
			WHERE RN BETWEEN #{pageStart} + 1 AND #{pageStart} + #{perPageNum}
		]]>
	</select>


	<select id="countPaging" resultType="int">
		<![CDATA[
			SELECT count(bno)
			FROM BOARD_TB
			WHERE bno > 0
		]]>
	</select>
	
<!-- 	<select id="listSearch" resultType="BoardVO">
	<![CDATA[
		SELECT *
		FROM board_tb
		WHERE bno > 0
		order by bno desc
		limit #{pageStart}, #{perPageNum}
	]]>
	</select> mysql 기준 -->
	
	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
		SELECT *
		FROM (
			  SELECT board_tb.*, ROWNUM AS RNUM
			  FROM (
				    SELECT * 
				    FROM board_tb
				    WHERE bno > 0
		]]>
					    <if test="searchType != null">
					      <if test="searchType == 't'.toString()">
					        AND title LIKE '%' || #{keyword} || '%'
					      </if>
					      <if test="searchType == 'c'.toString()">
					        AND content LIKE '%' || #{keyword} || '%'
					      </if>
					      <if test="searchType == 'w'.toString()">
					        AND writer LIKE '%' || #{keyword} || '%'
					      </if>
					      <if test="searchType == 'tc'.toString()">
					        AND (title LIKE '%' || #{keyword} || '%' OR content LIKE '%' || #{keyword} || '%')
					      </if>
					      <if test="searchType == 'cw'.toString()">
					        AND (content LIKE '%' || #{keyword} || '%' OR writer LIKE '%' || #{keyword} || '%')
					      </if>
					      <if test="searchType == 'tcw'.toString()">
					        AND (title LIKE '%' || #{keyword} || '%' OR content LIKE '%' || #{keyword} || '%' OR writer LIKE '%' || #{keyword} || '%')
					      </if>
					    </if>
		<![CDATA[    
				    ORDER BY bno DESC
			  ) board_tb
			  WHERE ROWNUM <= #{pageStart} + #{perPageNum}
		)
		WHERE RNUM > #{pageStart}
		]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(bno)
			FROM board_tb
			WHERE bno > 0
		]]>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				AND content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'w'.toString()">
				AND writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'tc'.toString()">
				AND (title LIKE '%' CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			
			<if test="searchType == 'cw'.toString()">
				AND (content LIKE CONCAT('%', #{keyword}, '%') OR writer LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			
			<if test="searchType == 'tcw'.toString()">
				AND (title LIKE '%' CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%') OR writer LIKE CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>		

<!--	
	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
			SELECT *
			FROM board_tb
			WHERE bno > 0
		]]>

		<include refid="search"></include>
	
		<![CDATA[
			SELECT *
			FROM (
				SELECT board_tb.*, ROWNUM AS RN
				FROM
					SELECT *
					FROM board_tb
					WHERE bno > 0
					ORDER BY bno DESC
				) board_tb
			)
			WHERE RN BETWEEN #{pageStart} + 1 AND #{pageStart} + #{perPageNum}
		]]>
	</select> -->

</mapper>